<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تعلم على يد علماء العصر الذهبي</title>
    <link rel="stylesheet" type="text/css" href="static/style1.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap" rel="stylesheet">
    <!-- Include Typed.js library -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>
<body>
  <header class="header">
      <nav>
        <img src="{{ url_for('static', filename='Logo/Aslaf.png') }}" class="logo">
      </nav>
      <div class="hero">
        <h1>تعلم  <span id="dynamic-text" class="highlight"></span><br> على يد علماء العصر الذهبي</h1>
          <div class="buttons">
            <button class="more-button" onclick="scrollToSection('bottom')">المزيد</button>
            <button class="try-button" onclick="scrollToSection('scientists')">جرب الآن</button>
          </div>
      </div>
  </header>

  <main>
      <div class="full-width-image">
        <img src="{{ url_for('static', filename='Logo/arab.png') }}">
      </div>
      <section id="learning-section" class="learning-section">
        <h2>ماذا تريد ان تتعلم</h2>
        <input type="text" id="learning-input" placeholder="اكتب هنا...">
    </section>
      <section id="scientists" class="scientists">
        <div class="scholar first-scholar">
            <img class="gray" src="{{ url_for('static', filename='Logo/sena.png') }}" alt="ابن سينا">
            <h3>ابن سينا</h3>
            <p>عالم في الطب والفلسفة</p>
            <p class="hashtags">الفيزياء #الفلسفة #الطب#</p>
            <p class="coming-soon">قريباً</p>
        </div>
        <div class="scholar second-scholar">
            <img class="gray" src="{{ url_for('static', filename='Logo/ghaz.png') }}" alt="الغزالي">
            <h3>الغزالي</h3>
            <p>حجة الإسلام، أحد أهم الفلاسفة العرب</p>
            <p class="hashtags">الفلسفة #علم الكلام #التربية والتعليم#</p>
            <p class="coming-soon">قريباً</p>
        </div>
        <div class="scholar third-scholar">
            <img src="{{ url_for('static', filename='Logo/gni.png') }}" alt="ابن جني">
            <h3>ابن جني</h3>
            <p>عالم لغوي بارع وفقية مبدع</p>
            <p class="hashtags">اعراب #نحو #لغة_عربية#</p>
            <button class="go-button" onclick="window.location.href='/chat_page'">اذهب</button>
        </div>
    </section>
    
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script>
    function scrollToSection(sectionId) {
      const section = document.getElementById(sectionId);
      if (section) {
        section.scrollIntoView({ behavior: 'smooth' });
      }
    }

    // Initialize Typed.js for dynamic text
    var typed = new Typed('#dynamic-text', {
      strings: ["الهندسة", "الطب", "اللغة"],
      typeSpeed: 150,
      backSpeed: 100,
      loop: true
    });
  </script>
</body>
</html>
